{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mikasi Store</title>
  <link rel="stylesheet" href="{% static 'misaki/css/style.css' %}">
</head>
<body>

  <header class="topo">

    <div class="curva"></div>

    <div class="navbar">

      <div class="menu">
      <a href="{% url 'misaki:sobre' %}">
        <button>Sobre</button>
      </a>
      <a href="https://wa.me/5584992304198" target="_blank">
        <button>Contato</button>
      </a>  
      </div>

      <div class="logo">
        <h1><img src="{% static 'misaki/img/m.png' %}" alt="m"></h1>
      </div>

      <div class="icons-esquerda">
        <img src="{% static 'misaki/img/sacola.png' %}" alt="compras">
        <img src="{% static 'misaki/img/lupa.png' %}" alt="pesquisar">
      </div>

    </div>

  </header>

  <div class="banner">
    <img src="{% static 'misaki/img/fotos.png' %}" alt="banner" class="banner-img">
  </div>

  <div class="corpo-categoria">

    <h2 class="produto">Produtos:</h2>

    <div class="linha">
      <a href="{% url 'misaki:produtos' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd1.png' %}" alt="">
          <div class="preco">Comprar - R$ 130,00</div>
        </div>
      </a>


      <a href="{% url 'misaki:produtos2' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd3.png' %}" alt="">
          <div class="preco">Comprar - R$ 100,00</div>
        </div>
      </a>

      <a href="{% url 'misaki:produtos' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd2.png' %}" alt="">
          <div class="preco">Apartir de R$ 20,00</div>
        </div>
      </a>

      <a href="{% url 'misaki:produtos' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd4.png' %}" alt="">
          <div class="preco">Comprar - R$ 49,90</div>
        </div>
      </a>

      <a href="{% url 'misaki:produtos' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd5.png' %}" alt="">
          <div class="preco">Comprar - R$ 49,90</div>
        </div>
      </a>

      <a href="{% url 'misaki:produtos' %}">
        <div class="col-4">
          <img src="{% static 'misaki/img/produtos/pd6.png' %}" alt="">
          <div class="preco">Comprar - R$ 49,90</div>
        </div>
      </a>

    </div>

</body>

</html>