{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mikasi Store</title>
  <link rel="stylesheet" href="{% static 'misaki/css/style.css' %}">
</head>
<body>

  <header class="topo">

    <div class="curva"></div>

    <div class="navbar">

      <div class="menu">
      <a href="{% url 'misaki:sobre' %}">
        <button>Sobre</button>
      </a>
      <a href="https://wa.me/5584992304198" target="_blank">
        <button>Contato</button>
      </a>  
      </div>

      <div class="logo">
        <h1><img src="{% static 'misaki/img/m.png' %}" alt="m"></h1>
      </div>

      <div class="icons-esquerda">
        <a href="{% url 'misaki:login' %}"><img src="{% static 'misaki/img/sacola.png' %}" alt="compras"></a>
        <form method="GET" action="{% url 'misaki:inicial' %}" class="form-busca">
          <input type="text" name="q" placeholder="Pesquisar..." value="{{ request.GET.q }}">
          <button type="submit" class="btn-busca">
            <img src="{% static 'misaki/img/lupa.png' %}" alt="pesquisar">
          </button>
        </form>    
      </div>

    </div>

  </header>

  <div class="banner">
    <img src="{% static 'misaki/img/fotos.png' %}" alt="banner" class="banner-img">
  </div>

    <div class="corpo-categoria">

      <h2 class="produto">Produtos:</h2>

  <!-- SEÇÃO DE PRODUTOS -->
      <div class="linha">
        {% if produtos %}
          {% for produto in produtos %}
            <a href="{% url 'misaki:produtos' produto.id %}">
              <div class="col-4">
                <img src="{% static produto.imagem %}" alt="{{ produto.titulo }}">
                <div class="preco">Comprar - R$ {{ produto.preco }}</div>
              </div>
            </a>
          {% endfor %}
        {% else %}
          <p>Nenhum produto disponível no momento.</p>
        {% endif %}
      </div>
    </div>

  <footer>
    <p>
    <a href="https://www.instagram.com/misakiatelie/" target="_blank"> 
    <img class="insta" src="{% static 'misaki/img/insta.png' %}" alt="instagram"> @misakiatelie
    </a> © 2026 Misaki Store. Todos os direitos reservados.
    </p>
  </footer>

</body>

</html>