<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikasi Login</title>
    <style>
     /*Importa o arquivo da fonte */
        @font-face {
            font-family: 'Bubbleboddy'; 
            src: url('fontes/bubbleboddyneue-regular.ttf') format('truetype'); 
            font-weight: normal;
            font-style: normal;
        }

    </style>

    <!-- CSS -->
    <link rel="stylesheet" href="inicio.css">
</head>

<body>
    
    <div class="card">
      
        <!-- LOGO IMAGEM -->
        <div class="logo-img">
            <img src="imagensconstrução/logo.png" alt="Misaki">
        </div>

        <!-- FORM -->
        <form>

            <p class="subtitle">
                Faça login ou crie uma conta
            </p>

            <input type="email" placeholder="Email" class="input">

            <input type="password" placeholder="Senha" class="input">

            <div class="divider">
                ou
            </div>

            <button class="google-btn">
                entrar com google
            </button>

            <div class="checks">

                <label class="check">

                    <input type="checkbox">

                    <span>
                        Ao continuar, você concorda com nossos
                        Termos de serviço
                    </span>

                </label>

                <label class="check">

                    <input type="checkbox">

                    <span>
                        Envie-me um e-mail com novidades e ofertas
                    </span>

                </label>

            </div>

        </form>

    </div>

</body>

</html>