{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misaki Login</title>
  <link rel="stylesheet" href="{% static 'misaki/css/login.css' %}">
</head>

<body>

    <!-- corpo, tela branca -->

    <main class="card">

        <!-- LOGO IMAGEM -->
        <div class="logo">
        <!-- Clicar na logo recarrega a página inicial -->
            <a href="{% url 'misaki:inicial' %}">
            <h1><img src="{% static 'misaki/img/m.png' %}" alt="m"></h1>
            </a>
        </div>
            <p class="subtitle">
                Faça seu login:
            </p>

        <!-- FORM -->
        <div class="formulario">
        
            <input type="email" placeholder="Email" class="input">

            <input type="password" placeholder="Senha" class="input">

            <a href="{% url 'misaki:inicial' %}">
                <button class="btn">
                    Entrar
                </button>
            </a>

            <div class="check">
                <label>
                    <input type="checkbox">
                    <span>Lembrar-me</span>
                </label>

                <span>
                    <a href="">Esqueceu sua senha?</a>
                </span>
            </div>


            <div class="divider">
                ou
            </div>

            <a href="{% url 'misaki:inicial' %}">
                <button class="btn">
                    <img src="{% static 'misaki/img/google.png' %}" alt="">
                    Entrar com Google
                </button>
            </a>

            <a href="">
                <span>
                    Ainda não tem uma conta?cadastrar-se!
                </span>
            </a>            
            
        </div>

    </main>

</body>

</html>