{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ produto.titulo }} - Misaki Store</title>
  <link rel="stylesheet" href="{% static 'misaki/css/style.css' %}">
</head>
<body>

  <header class="topo">
    <div class="curva"></div>
    <div class="navbar">
      <div class="menu">
        <a href="{% url 'misaki:inicial' %}">
            <button>Home</button>
        </a>
        <a href="{% url 'misaki:sobre' %}">
          <button>Sobre</button>
        </a>
        <a href="https://wa.me/5584992304198" target="_blank">
          <button>Contato</button>
        </a>  
      </div>

      <div class="logo">
        <a href="{% url 'misaki:inicial' %}">
          <h1><img src="{% static 'misaki/img/m.png' %}" alt="m"></h1>
        </a>
      </div>

      <div class="icons-esquerda">
        <a href="{% url 'misaki:login' %}"><img src="{% static 'misaki/img/sacola.png' %}" alt="compras"></a>
      </div>
    </div>
  </header>

  <!-- CONTEÚDO PRINCIPAL DO PRODUTO SELECIONADO -->
  <main class="produto-container">
      
      <section class="galeria">
        <!-- Container que guarda as fotos grandes -->
        <div class="slider-fotos">
            {% for foto in produto.miniaturas %}
                <div class="slide-item" id="foto-{{ forloop.counter }}">
                    <img src="{% static foto %}" alt="{{ produto.titulo }}">
                </div>
            {% endfor %}
        </div>
        
        <!-- As miniaturas -->
        <div class="carrossel-miniaturas">
            {% for foto in produto.miniaturas %}
                <a href="#foto-{{ forloop.counter }}" class="link-miniatura">
                    <img class="miniatura" src="{% static foto %}" alt="Miniatura {{ forloop.counter }}">
                </a>
            {% endfor %}
        </div>
      </section>

      <section class="info-produto">
          <h1 class="titulo-produto">{{ produto.titulo }}</h1>
          <div class="valor">R$ {{ produto.preco }}</div>

          <div class="acoes-compra">
              <button class="seletor-qtd">+ 1</button>
              <button class="btn-carrinho">
                  <img src="{% static 'misaki/img/sacola.png' %}" style="width:18px; filter:none;" alt="">
                  + Adicionar ao carrinho
              </button>
          </div>
          
          <a href="https://w.app/misaki" target="_blank">
              <button class="btn-compre-ja">Compre já</button>
          </a>
          
          <!-- Introdução do Produto -->
          <p class="texto-introducao">
              {{ produto.introducao }}
          </p>

          <div class="secao-detalhes">
              <h3>✏️ Descrição:</h3>
              <ul>
                  <li>Tamanho: {{ produto.tamanho }}</li>
                  <li>Por se tratar de um produto artesanal, podem ocorrer pequenas variações que tornam a peça única.</li>
              </ul>
          </div>

          <div class="secao-detalhes">
              <h3>🧵 Cuidados:</h3>
              <!-- frase de cuidado da lista -->
              {% for cuidado in produto.cuidados %}
                  <p>{{ cuidado }}</p>
              {% endfor %}
          </div>

          <p class="texto-rodape">
              {{ produto.rodape }}
          </p>
      </section>

  </main>

  <footer>
    <p>
      <a href="https://www.instagram.com/misakiatelie/" target="_blank"> 
        <img class="insta" src="{% static 'misaki/img/insta.png' %}" alt="instagram"> @misakiatelie
      </a> © 2026 Misaki Store. Todos os direitos reservados.
    </p>
  </footer>

</body>
</html>